:root {
  --white-text: rgb(255, 255, 255);
  --blue-text: rgb(33, 150, 243);
  --black-text: rgb(0, 0, 0);
  --background-color: rgb(47, 48, 58);
  --heading-color: rgb(33, 33, 33);
  --content-color: rgb(117, 117, 117);
  --section-color: rgb(245, 244, 250);
  --mailtel-color: rgba(255, 255, 255, 0.6);
}

body {
  font-family: 'Roboto', sans-serif;
}

address {
  font-style: normal;
}

ul {
  list-style: none;
}

img {
  width: 370px;
  height: 294px;
  display: block;
}

.command-section img {
  width: 270px;
  height: 260px;
}

.header,
.main-info {
  background-color: var(--white-text);
  font-family: 'Roboto', sans-serif;
}

.main-btn {
  border-radius: 4px;
  width: 200px;
  height: 50px;
  background-color: var(--blue-text);
  color: var(--white-text);
}

.main-btn:hover,
.main-btn:focus {
  border: 2px solid #2196f3;
}

.text-color {
  text-decoration: none;
  color: var(--content-color);
}

a .text-color {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.logo {
  color: var(--blue-text);
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: bold;
  line-height: 31px;
}

.logo:hover,
.logo:focus {
  text-decoration: underline;
}

.logo-studio {
  color: var(--black-text);
}

.header-links {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}

.header-links:hover,
.header-links:focus,
.header-links:active {
  color: var(--blue-text);
  text-decoration: underline;
}

.main-section,
.bg-footer {
  background-color: var(--background-color);
}

.main-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  color: var(--white-text);
  text-transform: uppercase;
}

.third-headings {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 16, 41px;
  text-transform: uppercase;
}

.second-headings {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  line-height: 42, 19px;
  text-align: center;
}

.footer-studio {
  color: var(--white-text);
}

.address-footer {
  color: var(--white-text);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.logo-footer {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  color: var(--blue-text);
  font-size: 26px;
  font-style: normal;
  font-weight: bold;
  line-height: 31px;
}

.logo-footer:hover,
.logo-footer:focus {
  text-decoration: underline;
}

.mailtel-footer {
  color: var(--mailtel-color);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.command-section {
  background-color: var(--section-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.portfolio-buttons {
  border: none;
  filter: drop-shadow(0px 4px 4px 0px);
}

.portfolio-buttons:hover {
  border: 2px solid var(--blue-text);
}

.portfolio-buttons:focus,
.portfolio-buttons:active {
  background-color: var(--blue-text);
  color: var(--white-text);
  border: none;
}
