:root {
  --white-text: rgb(255, 255, 255);
  --blue-text: rgb(33, 150, 243);
  --black-text: rgb(0, 0, 0, 1);
  --background-color: rgb(47, 48, 58);
  --heading-color: rgb(33, 33, 33);
  --content-color: rgb(117, 117, 117);
  --section-color: rgb(245, 244, 250);
  --mailtel-color: rgb(255, 255, 255, 0.6);
}

body {
  font-family: 'Roboto', sans-serif;
}

address {
  font-style: normal;
}

ul {
  list-style: none;
}

img {
  width: 370px;
  height: 294px;
  display: block;
}
.command-section img {
  width: 270px;
  height: 260px;
}

.header,
.main-info {
  background-color: var(--white-text);
  font-family: 'Roboto', sans-serif;
}

.main-btn {
  border-radius: 4px;
  width: 200px;
  height: 50px;
  background-color: var(--blue-text);
  color: var(--white-text);
}

.main-btn:hover {
  border: 10px solid 
  color: var(--blue-text);
}

.text-color {
  text-decoration: none;
  color: var(--content-color);
}

.logo {
  width: 145px;
  height: 31px;
  color: var(--blue-text);
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
}

.logo:hover,
.logo:focus {
  text-decoration: underline;
}

.logo-studio {
  color: var(--black-text);
}

.header-links {
  text-decoration: none;
}

.header-links:hover,
.header-links:focus,
.header-links:active {
  color: var(--blue-text);
  text-decoration: underline;
}

.main-section,
.bg-footer {
  background-color: var(--background-color);
}

.main-title,
.footer-studio,
.address-footer {
  color: var(--white-text);
}

.logo-footer {
  width: 145px;
  height: 31px;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  color: var(--blue-text);
}

.logo-footer:hover,
.logo-footer:focus {
  text-decoration: underline;
}

.mailtel-footer {
  width: 231px;
  height: 21px;
  color: var(--mailtel-color);
}

.command-section {
  background-color: var(--section-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.portfolio-buttons {
  border: none;
  filter: drop-shadow(0px 4px 4px 0px);
}

.portfolio-buttons:hover {
  border: 2px solid var(--blue-text);
}

.portfolio-buttons:focus,
.portfolio-buttons:active {
  background-color: var(--blue-text);
  color: var(--white-text);
  border: none;
}
 